* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

main {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid: gap 10px;
}

.navigation {
	grid-column: 1/11;
	grid-row: 1/2;
	background: black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 20px;
}

.hyperlink {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 700;
}
.hamburger {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.hamburger-menu {
	display: flex;
	flex-direction: column;
}

.hamburger-line {
	margin: 2px;
	background-color: white;
	height: 3px;
	width: 20px;
}
.hamburger-text {
	color: white;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2rem;
	font-weight: 700;
}

.subheader {
	background: red;
	grid-column: 2/10;
	grid-row: 2/3;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}

.leftmenu {
	grid-column: 1/2;
	grid-row: 2/5;
	background: black;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
}
.leftmenu-icon {
	text-decoration: none;
	color: white;
	margin: 30px;
	font-size: 60px;
	transition: 0s;
}

.leftmenu-icon:hover,
.leftmenu-icon:active {
	color: red;
}

.leftmenu-sub {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	rotate: 90deg;
	margin: 30px;
}

.menu-line {
	margin: 2px;
	background-color: white;
	height: 3px;
	width: 20px;
}

.rightmenu {
	grid-column: 10/11;
	grid-row: 2/5;
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

.rightmenu-sub {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	rotate: 90deg;
	margin: 30px;
}
.rightmenu-icon {
	text-decoration: none;
	color: white;
	margin: 30px;
	font-size: 60px;
	transition: 0s;
}

.rightmenu-icon:hover,
.rightmenu-icon:active {
	color: red;
}

.top-article-grid {
	grid-column: 2/10;
	grid-row: 3/5;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid: gap 10px;
	justify-content: center;
}

.article {
	display: flex;
	flex-direction: column;
}
.article-header {
	display: flex;
	justify-self: center;
	align-self: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
	transition: 0s;
}

.article-header:hover,
.article-header:active {
	color: red;
}

.article-image img {
	padding: 10px;
	object-fit: cover;
	width: 100%;
	height: 33vh;
}

.article-text {
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: medium;
	width: 25vw;
}

.center-page {
	grid-column: 1/11;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-auto-rows: 1fr;
	padding: 10px;
	justify-content: center;
}
.center-article-grid {
	grid-column: 2/10;
}

.center-article {
	display: flex;
	flex-direction: row;
}
.center-article-image img {
	padding: 10px;
	object-fit: cover;
	width: 33vw;
	height: 50vh;
}

.spyglass {
	height: 20px;
	width: 20px;
	color: white;
}

.spyglassmaster {
	display: flex;
	color: white;
}

@media only screen and (max-width: 700px) {
	.navigation {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 700px) {
	.top-article-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 700px) {
	.center-article {
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 700px) {
	.hyperlink {
		padding: 5px;
	}
}
